@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-grenze: "Grenze", serif;
  --font-eczar: "Eczar", serif;
  --color-light-cyan: #bed1e7;
  --color-dark-cyan: #64748b;
  --color-dark-blue: #1a1e32;
  --color-light-dark-blue: #323c71;
}

body {
  @apply bg-gray-100;
}

.prices ,.colors , .gears{
  grid-template-columns: repeat(2,auto);
}


input[type='radio']{
 @apply md:size-4
}

.infos{
  /* grid-template-columns: repeat(3,auto); */
}
.slick-prev:before,
.slick-next:before {
  @apply !text-red-500
}
.carousel-container {
  padding-bottom: 40px; /* create space for dots */
}


